{% extends 'layout.html' %}
 
{% block content %}
<!-- new -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-6">    
      <form method="POST" action="" enctype="multipart/form-data" class="form-style">
        <fieldset class="form-group">
          {{ form.csrf_token }}
          <legend class="text-orange-1 text-center" id="title">Heading
          </legend>
          <p id="sub-text" class="text-dark-3 text-center">Add new buyer</p>
          <br>
    		  <div class="form-group">
            	{{ form.name.label }}
              
            	{% if form.name.errors %}
            	{{ form.name(class='form-control is-invalid') }}
          	  <div class="invalid-feedback">
                {% for error in form.name.errors %}
                <span>{{ error }}</span>
                {% endfor %}
          	  </div>
              {% else %}
              {{ form.name(class='form-control') }}
              {% endif %}
          </div>

          <div class="form-group">
              {{ form.phone.label(class='phone-label') }}

              {% if form.phone.errors %}
              {{ form.phone(class='form-control is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form.phone.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
                {% else %}
                {{ form.phone(class='form-control') }}
                {% endif %}     
            </div>

            <div class="form-group">
              {{ form.email.label }}

              {% if form.email.errors %}
              {{ form.email(class='form-control is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
                {% else %}
                {{ form.email(class='form-control') }}
                {% endif %}
            </div>

            {% if addbuyer %}
            <div class="form-group">
                {{ form.address.label }}

                {% if form.address.errors %}
                {{ form.address(class='form-control is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form.address.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
                {% else %}
                {{ form.address(class='form-control') }}
                {% endif %}       
            </div>
            {% endif %}
	      
      		  <div class="form-group">
              	{{ form.cnic.label(class='cnic-label') }}

                {% if form.cnic.errors %}
              	{{ form.cnic(class='form-control is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form.cnic.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
                {% else %}
                {{ form.cnic(placeholder="Enter numbers only", class='form-control') }}
                {% endif %}       
            </div>

            <div class="form-group">
                {{ form.cnic_front.label }}  

                {% if form.cnic_front.errors %}
                {{ form.cnic_front(class="form-control-file") }}
              <div>
                {% for error in form.cnic_front.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
              </div>
                  {% else %}
                  {{ form.cnic_front(class="form-control-file") }}
                  {% endif %}       
              </div>

            <div class="form-group">
                {{ form.cnic_back.label }} 

                {% if form.cnic_back.errors %}
                {{ form.cnic_back(class="form-control-file") }}
              <div>
                {% for error in form.cnic_back.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
              </div>
                {% else %}
                {{ form.cnic_back(class="form-control-file") }}
                {% endif %}
            </div>

		        <div class="form-group">
        	     {{ form.comments.label }}
     	
        	     {% if form.comments.errors %}
        	     {{ form.comments(class='form-control is-invalid') }}
          	<div class="invalid-feedback">
                {% for error in form.comments.errors %}
                <span>{{ error }}</span>
                {% endfor %}
          	</div>
          	   {% else %}
               {{ form.comments(placeholder="Leave empty if no comments", class='form-control') }}
               {% endif %}
            </div>

            <div class="form-group btn-center">
            <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
	        </fieldset>
	      </form>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>

  <script type="text/javascript">

      var action = "";
      var legend = "";

      {% if addbuyer %}
        action = "{{ url_for('addbuyer') }}";
        legend = "Add Buyer";
        text   = "Add new Buyer";
      {% elif addagent %}
        action = "{{ url_for('addagent') }}";
        legend = "Add Agent";
        text   = "Add new Commission Agent";
      {% else %}
        action = "{{ url_for('profile')}}";
      {% endif %}

      document.getElementsByTagName("form")[0].setAttribute("action", action);    
      document.getElementById("title").innerHTML = legend;
      document.getElementById("sub-text").innerHTML = text;
      
  </script>
{% endblock %}

