{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
      <form method="POST" action="{{ url_for('adddeal') }}" class="form-style" enctype='multipart/form-data'>
        <fieldset class="form-group">
          {{ form.csrf_token }}
          <legend class="text-orange-1 text-center">Add Deal</legend>
          <p class="text-dark-3 text-center">Add new deal</p>
          <br>
          <div class="form-group">
            {{ form.buyer_id.label }}

            {% if form.buyer_id.errors %}
            {{ form.buyer_id(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.buyer_id.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.buyer_id(class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.plot_id.label }}

            {% if form.plot_id.errors %}
            {{ form.plot_id(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.plot_id.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.plot_id(class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group" id="plot_price-div" style="display: none">
            {{ form.plot_price.label }}

            {% if form.plot_price.errors %}
            <script>
              document.getElementById('plot_price-div').style.display = 'block';
              document.getElementById('c_rate-div').style.display = 'block';
            </script>
            {{ form.plot_price(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.plot_price.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.plot_price(class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.CA_id.label }}

            {% if form.CA_id.errors %}
            {{ form.CA_id(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.CA_id.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.CA_id(class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group" id="c_rate-div" style="display: none">
            {{ form.c_rate.label }}

            {% if form.c_rate.errors %}
            <script>
              document.getElementById('c_rate-div').style.display = 'block';
              document.getElementById('plot_price-div').style.display = 'block';
            </script>
            {{ form.c_rate(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.c_rate.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.c_rate(class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.first_amount_recieved.label }}

            {% if form.first_amount_recieved.errors %}
            {{ form.first_amount_recieved(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.first_amount_recieved.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.first_amount_recieved(placeholder="Enter numbers only", class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.amount_per_installment.label }}

            {% if form.amount_per_installment.errors %}
            {{ form.amount_per_installment(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.amount_per_installment.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.amount_per_installment(placeholder="Enter numbers only", class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.installment_frequency.label }}

            {% if form.installment_frequency.errors %}
            {{ form.installment_frequency(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.installment_frequency.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.installment_frequency(placeholder="Enter numbers only",class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.comments.label }}

            {% if form.comments.errors %}
            {{ form.comments(class='form-control is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.comments.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.comments(placeholder="Leave Empty if no comments", class='form-control') }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.attachments.label }}
            <br>
            {{ form.attachments(class='m-1') }}
          </div>
          <br>

          <div class="form-group btn-center">
            {{ form.submit(class='btn btn-outline-dark') }}
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- new -->

{% endblock content %}

{% block script %}

<script type="text/javascript">

  $('#plot_id').on('change', function () {

    if (this.value == 'None') {

      $('#plot_price-div').hide();
      $('#plot_price').prop('required', false);
    }
    else {

      $.post('/rest/Plot/' + $('#plot_id').val(), function (row) {
        row.json_list[0]['price'] && $('#plot_price').val(row.json_list[0]['price']);
        !row.json_list[0]['price'] && $('#plot_price').val('Not Set');
      }).done($('#plot_price-div').show());

      $('#plot_price').prop('required', true);
    }
  });

  $('#CA_id').on('change', function () {

    if (this.value == 'None') {

      $('#c_rate-div').hide();
      $('#c_rate').prop('required', false);
    }
    else {

      $('#c_rate-div').show();
      $('#c_rate').prop('required', true);
    }
  });
</script>

{% endblock script %}