{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h1 id="title" class="text-orange-1 text-center">Buyer Information</h1>
                <p id="sub-title" class="text-dark-3 text-center">All the buyer's information is listed here</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-dark-3">
              <th scope="row">ID</th>
              <td>{{entity.id}}</td>
            </tr>
            <tr class="text-dark-3">
              <th scope="row">Name</th>
              <td>{{entity.name}}</td>
            </tr>
            <tr class="text-dark-3">
              <th scope="row">CNIC</th>
              <td>{{entity.cnic}}</td>
            </tr>
            <tr class="text-dark-3">
              <th scope="row">Phone</th>
              <td>{{entity.phone}}</td>
            </tr>
            <tr class="text-dark-3">
              <th scope="row">Email</th>
              <td>{{entity.email}}</td>
            </tr>
            {% if buyerinfo %}
            <tr class="text-dark-3">
              <th scope="row">Address</th>
              <td>{{entity.address}}</td>
            </tr>
            {% endif %}
            <tr class="text-dark-3">
              <th scope="row">Comments</th>
              {% if entity.comments %}
              <td>{{entity.comments}}</td>
              {% else %}
              <td>No Comments</td>
              {% endif %}
              {% if entity.deals %}
            </tr>
            <tr class="text-dark-3">
              <th scope="row">Deals</th>
              <td>
                {% for deal in entity.deals %}
                {{ deal.id }}
                <br>
                {% endfor %}
              </td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-3 notes-icon"><i class="fas fa-user-tie"></i></div>
      <div class="row pl-5 pb-4 border-bottom border-secondary"> 
      {% if not current_user.rank %}
        <button id="delete-btn" class="btn btn-outline-danger btn-sm"><a href="" id="delete-link">Delete Agent</a></button>
      {% endif %}        
        <button id="edit-btn" class="btn btn-outline-secondary btn-sm  ml-2"><a href="" id="edit-link">Edit Agent Info</a></button>        
    </div>
    </div>
  </div>
</section>
<!-- new -->
<script type="text/javascript">

  var title = "";
  var subtitle = "";

  {% if buyerinfo %}
    title      = "Buyer Information";
    subtitle   = "All the buyer's information is listed here";
    delete_url = "{{ url_for('deletebuyer', buyer_id=entity.id) }}";
    edit_url   = "{{ url_for('editbuyer', buyer_id=entity.id) }}";
    delete_txt = "Delete Buyer";
    edit_txt   = "Edit Buyer";

  {% elif agentinfo %}
    title      = "Agent Information";
    subtitle   = "All the agent's information is listed here";
    delete_url = "{{ url_for('deleteagent', agent_id=entity.id) }}";
    edit_url   = "{{ url_for('editagent', agent_id=entity.id) }}";
    delete_txt = "Delete Agent";
    edit_txt   = "Edit Agent";

  {% else %}
    title = "{{ url_for('profile') }}";
  {% endif %}

  document.getElementById("title").innerHTML = title;
  document.getElementById("sub-title").innerHTML = subtitle;
  document.getElementById("delete-link").text = delete_txt;
  document.getElementById("edit-link").text = edit_txt
  document.getElementById("edit-link").setAttribute("href", edit_url);
  document.getElementById("delete-link").setAttribute("href", delete_url);
  

</script>
{% endblock %}