{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h1 class="text-orange-1 text-center">Notices</h1>
                <p class="text-dark-3 text-center">All noties are listed below</p>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for notice in notices %}
            <tr>
              <th scope="row"></th>
              <td><a href="{{ url_for('noteinfo', note_id=notice.id) }}" class="noteLink">{{ notice.title }}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-3 notes-icon"><i class="far fa-edit"></i></div>
    </div>
  </div>
</section>
<!-- new -->

{% endblock %}