{% extends 'layout.html' %}

{% block content %}

	<form method="POST" action="{{ url_for('analytics') }}">

		{{ form.csrf_token }}
						
		<legend class="text-orange-1 text-center">
			Expenditure Macro Anaytics
		</legend>
		<p class="text-dark-3 text-center">
			Choose A Time Period
		</p>

		<div id="shortcuts-div">
			{{ form.shortcuts.label }}
			{{ form.shortcuts(class='form-control') }}
		</div>

		<br>
		<div id='start-div' style="display: none">
			{{ form.start.label }}
			{% if form.start.errors %}
			{{ form.start(class='form-control is-invalid', type='date') }}
			<div class="invalid-feedback">
				{% for error in form.start.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.start(class='form-control', type='date') }}
			{% endif %}
		</div>

		<br>
		<div id='end-div' style="display: none">
			{{ form.end.label }}
			{% if form.end.errors %}
			{{ form.end(class='form-control is-invalid', type='date') }}
			<div class="invalid-feedback">
				{% for error in form.end.errors %}
				<span>{{ error }}</span>
				{% endfor %}
			</div>
			{% else %}
			{{ form.end(class='form-control', type='date') }}
			{% endif %}
		</div>

		<br>
		<div class="btn-center">
			{{ form.show(class='btn btn-outline-dark') }}
		</div>
					
	</form>


	{% if expenses_pie_chart %}
	<h1>Expenses in X time</h1>

	<img src="data:image/jpg;base64,{{ expenses_pie_chart }}"/>
	{% endif %}
	

{% endblock %}

{% block script %}
<script type="text/javascript">

	$(function() {
    	if($('#shortcuts').val() == 8){
    		$('#start-div').show();
			$('#end-div').show();
			$('#start').prop('required', true);
			$('#end').prop(  'required', true);
    	}
	});
	
	$('#shortcuts').on('change', function(){
		if (this.value == 8){
			$('#start-div').show();
			$('#end-div').show();
			$('#start').prop('required', true);
			$('#end').prop(  'required'  , true);
		}
		else{
			$('#start-div').hide();
			$('#end-div').hide();
			$('#start').val('');
			$('#end').val('');
			$('#start').prop('required', false);
			$('#end').prop(  'required'  , false);
		}
	})

</script>
{% endblock %}