{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h1 id="title" class="text-orange-1 text-center">
                  Deal Information
                </h1>
                <p id="sub-title" class="text-dark-3 text-center">
                  All the Deal information is listed here
                </p>
                <br>
                <h2 id="sub-title" class="text-orange-2 text-center">
                  Deal# {{ deal.id }}
                </h2>
              </th>
            </tr>
          </thead>
          <tbody> 

            {% if deal.buyer_id %}
            <tr class="text-dark-3">
              <th scope="row">Buyer</th>
              <td>
                <a href='/buyer/{{deal.buyer_id}}'>
                {{deal.buyer.person.name}}
                </a>
              </td>
            </tr>
            {% endif %}

            <tr class="text-dark-3">
              <th scope="row">Plot Address</th>
              <td>
                <a href='/plot/{{deal.plot_id}}'>
                  Plot# {{deal.plot.id}} - {{deal.plot.address}}
                </a>
              </td>
            </tr>

            <tr class="text-dark-3">
              <th scope="row">Plot Price</th>
              <td>{{ deal.plot.price }}Rs</td>
            </tr>

            {% if deal.commission_agent_id %}
            <tr class="text-dark-3">
              <th scope="row">Commission Agent</th>
              <td>
                <a href="{{ url_for('agentinfo', agent_id=deal.commissionagent.person_id) }}">
                  {{ deal.commissionagent.person.name }}
                </a>
              </td>
            </tr>

             <tr class="text-dark-3">
              <th scope="row">Commission</th>
              <td>
               {{ deal.plot.price*deal.commission_rate }}Rs ({{ deal.commission_rate*100 }}%)
              </td>
            </tr>
            {% endif %}

            {% if deal.commissions[0] %}
            <tr class="text-dark-3">
              <th scope="row">Commission Paid</th>
              <td>{{ total_commission_paid }} ({{ total_commission }})</td>
            </tr>
            {% endif %}

            <tr class="text-dark-3">
              <th scope="row">Status</th>
              <td>{{deal.status}}</td>
            </tr>

            <tr class="text-dark-3">
              <th scope="row">Signing Date</th>
              <td>{{deal.signing_date}}</td>
            </tr>

            {% if deal.amount_per_installment %}
            <tr class="text-dark-3">
              <th scope="row">Amount Per Installment</th>
              <td>{{deal.amount_per_installment}}</td>
            </tr>
            {% endif %}

            {% if installment_frequency %}
            <tr class="text-dark-3">
              <th scope="row">Installment Frequency</th>
              <td>{{deal.installment_frequency}}</td>
            </tr>
            {% endif %}

            {% if comments %}
            <tr class="text-dark-3">
              <th scope="row">Comments</th>
              <td>{{deal.comments}}</td>
            </tr>
            {% endif %}

            {% if deal.files[0] %}
            <tr class="text-dark-3">
              <th scope="row">Attachments</th>
              <td>
              {% for file in deal.files %}
                <a href="{{ url_for('download', id=file.id) }}">
                  {{ file.filename }}
                </a><br>
              {% endfor %}
              </td>
            </tr>
            {% endif %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% if transaction %}
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="4">
                <h1 class="text-orange-1 text-center">Transaction Summary</h1>
                <p class="text-dark-3 text-center">The details of the transactions are listed here</p>
                <p class="text-orange-3 text-center">Deal Id: {{ transaction["deal_id"] }}</p>
                <p class="text-orange-3 text-center">Number of Installments: {{
                  transaction["total_installments"] }}</p>
              </th>
            </tr>
          </thead>
          <tr>
            <th>Transaction No.</th>
            <th>Date</th>
            <th>Transaction Amount</th>
            <th>Comments</th>
          </tr>

          {% for transaction in transaction["transactions"]%}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ transaction.date_time }}</td>
            <td>{{ transaction.amount }}</td>
            {% if transaction.comments %}
            <td>{{ transaction.comments }}</td>
            {% else %}
            <td>No Comments</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h1 class="text-orange-1 text-center">Transaction Analytics</h1>
                <p class="text-dark-3 text-center">The summary of the transactions are listed here</p>
              </th>
            </tr>
          </thead>
          <tbody>
            {% if transaction["avg_installment_freq"] %}
            <tr class="text-dark-3">
              <th scope="row">Installment Frequency</th>
              <td>{{ transaction["avg_installment_freq"] }}</td>
            </tr>
            {% endif %}
            <tr class="text-dark-3">
              <th scope="row">Amount Paid</th>
              <td>{{ transaction["amount_paid"] }}</td>
            </tr>
            <tr class="text-dark-3">
              <th scope="row">Amount Left</th>
              <td>{{ transaction["amount_left"] }}</td>
            </tr>
            {% if transaction["total_installments"] > 1 %}
            <tr class="text-dark-3">
              <th scope="row">Average Amount Paid per Installment</th>
              <td>{{ transaction["avg_amount_paid"] }}</td>
            </tr>
            {% if transaction["expected_amount"] %}
            <tr class="text-dark-3">
              <th scope="row">Expected Amount Paid per Installment</th>
              <td>{{ transaction["expected_amount"] }}</td>
            </tr>
            {% endif %}
            <tr class="text-dark-3">
              <th scope="row">Predicted Amount for Next Installments</th>
              <td>{{ transaction["predicted_amount"] }} per installment</td>
            </tr>
            <tr class="text-dark-3">
              <th scope="row">Predicted Number of Installments Left</th>
              <td>{{ transaction["installment_left"] }}</td>
            </tr>
            {% if transaction["expected_time_left"] %}
            <tr class="text-dark-3">
              <th scope="row">Expected Time Left</th>
              <td>{{ transaction["expected_time_left"] }}</td>
            </tr>
            {% endif %}
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-3 notes-icon"><i class="fas fa-coins"></i></div>
    </div>
  </div>
</section>
{% endif %}

<!-- new -->
{% endblock %}

