{% extends 'layout.html' %}

{% block content %}

<div class="row">
	<div class="container d-flex justify-content-center">
		<button id="buyer-button" class="btn mx-1 py-2 px-2 display-button" onclick="getall('buyer')">
			<div class="d-flex flex-column"><i class="fas fa-user-tie mb-1"></i><small>Buyers</small></div>
		</button>
		<button id="plot-button" class="btn mx-1 py-2 px-2" onclick="getall('plot')">
			<div class="d-flex flex-column"><i class="fas fa-map-pin mb-1"></i><small>Plots</small></div>
		</button>
		<button id="deal-button" class="btn mx-1 py-2 px-2" onclick="getall('deal')">
			<div class="d-flex flex-column"><i class="far fa-handshake mb-1"></i><small>Deals</small></div>
		</button>
		<button id="CA-button" class="btn mx-1 py-2 px-2" onclick="getall('CA')">
			<div class="d-flex flex-column"><i class="fas fa-user-tie mb-1"></i><small>Agents</small></div>
		</button>
		<button id="ET-button" class="btn mx-1 py-2 px-2" onclick="getall('ET')">
			<div class="d-flex flex-column"><i class="far fa-credit-card mb-1"></i><small>Expenditure Types</small></div>
		</button>
		<button id="employee-button" class="btn mx-1 py-2 px-2" onclick="getall('employee')">
			Employees
		</button>
	</div>
</div>

<div class="container my-5">
	<!-- Div to display Buyers -->
	<div id="buyer-div">
		<div id="buyer-info">
		</div>
	</div>

	<!-- Div to display Plots -->
	<div id="plot-div">

		<div class="row pl-4 my-3">
			<div class="col-2">
				{{ filterPlotForm.status.label }}
			</div>
			<div class="col-6">
				{{ filterPlotForm.status(class='form-control') }}
			</div>
			<div class="col-4">
				{{ filterPlotForm.filter(class='btn btn-outline-primary', id='filterPlot-btn') }}
			</div>
		</div>

		<div id="plot-info">
		</div>
	</div>


	<!-- Div to display Deals -->
	<div id="deal-div">
		<div id="deal-info">
		</div>
	</div>


	<!-- CAs -->
	<!-- Div to display CAs -->
	<div id="CA-div">
		<div id="CA-info">
		</div>
	</div>

	<!-- ETs -->
	<div id="ET-div">
		<div id="ET-info">
		</div>
		<br><br>
		<span>
			<a href="{{ url_for('addexpendituretype') }}">Add New Expenditure Type</a>
		</span>
	</div>

	<!-- Employees -->
	<!-- Div to display Employees -->
	<div id="employee-div">
		<div id="employee-info">
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/displaypage.js') }}"></script>
<script type="text/javascript">getall("{{ active }}")</script>
{% endblock %}