{% extends 'layout.html' %}

{% block content %}
<div class="row pt-3">
	<div class="container">
		<div class="display-page d-flex justify-content-around">
			<a id="buyer-button" class="btn mx-1 py-2 px-2 display-button display-button-active"
				onclick="getall('buyer')">
				<div class="d-flex flex-column"><i class="fas fa-user-tie mb-1"></i><small>Buyers</small></div>
			</a>
			<a id="plot-button" class="btn mx-1 py-2 px-2 display-button" onclick="getall('plot')">
				<div class="d-flex flex-column"><i class="fas fa-map-pin mb-1"></i><small>Plots</small></div>
			</a>
			<a id="deal-button" class="btn mx-1 py-2 px-2 display-button" onclick="getall('deal')">
				<div class="d-flex flex-column"><i class="far fa-handshake mb-1"></i><small>Deals</small></div>
			</a>
			<a id="CA-button" class="btn mx-1 py-2 px-2 display-button" onclick="getall('CA')">
				<div class="d-flex flex-column"><i class="fas fa-user-tie mb-1"></i><small>Agents</small></div>
			</a>
			<a id="ET-button" class="btn mx-1 py-2 px-2 display-button" onclick="getall('ET')">
				<div class="d-flex flex-column"><i class="far fa-credit-card mb-1"></i><small>Expenditure Types</small>
				</div>
			</a>
			<a id="employee-button" class="btn mx-1 py-2 px-2 display-button" onclick="getall('employee'); active()">
				<div class="d-flex flex-column"><i class="far fa-user mb-1"></i><small>Employees</small></div>
			</a>
		</div>
	</div>
</div>

<div class="container my-5">
	<!-- Div to display Buyers -->
	<div id="buyer-div">
		<div id="buyer-info">
		</div>
	</div>

	<!-- Div to display Plots -->
	<div id="plot-div">
		{{ filterPlotForm.status.label(class='text-dark-3') }}
		<br>
		<div class="d-flex justify-content-between my-3">
			<div style="flex:0.9">
				{{ filterPlotForm.status(class='form-control') }}
			</div>
			<div style="flex:0.1">
				{{ filterPlotForm.filter(class='btn btn-outline-primary mx-4', id='filterPlot-btn') }}
			</div>
		</div>

		<div id="plot-info">
		</div>
	</div>


	<!-- Div to display Deals -->
	<div id="deal-div">
		<div id="deal-info">
		</div>
	</div>


	<!-- CAs -->
	<!-- Div to display CAs -->
	<div id="CA-div">
		<div id="CA-info">
		</div>
	</div>

	<!-- ETs -->
	<div id="ET-div">
		<div id="ET-info">
		</div>
		<br>
		<span>
			<a href="{{ url_for('addexpendituretype') }}" style='color: #7c91df; text-decoration: none;'>Add New
				Expenditure Type</a>
		</span>
	</div>

	<!-- Employees -->
	<!-- Div to display Employees -->
	<div id="employee-div">
		<div id="employee-info">
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/displaypage.js') }}"></script>
<script type="text/javascript">getall("{{ active }}")</script>
<script>
	$("a").click(function () {
		$("a.display-button-active").removeClass("display-button-active");
		$(this).addClass("display-button-active");
	});
</script>
{% endblock %}