{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h1 id="title" class="text-orange-1 text-center">
                  Employee Information
                </h1>
              </th>
            </tr>
          </thead>
          <tbody>

          	<tr class="text-dark-3">
              <th scope="row">Name</th>
              <td>{{ employee.person.name }}</td>
            </tr>

            <tr class="text-dark-3">
              <th scope="row">Phone</th>
              <td>{{ employee.person.phone }}</td>
            </tr>

            <tr class="text-dark-3">
              <th scope="row">CNIC</th>
              <td>
                {{ employee.person.cnic }}

                {% if employee.person.files[0] %}
                  <br> 
                  <a href="{{ url_for('download', id=employee.person.files[0].id) }}">
                    {{ employee.person.files[0].filename }}
                  </a>
                {% endif %}

                {% if employee.person.files[1] %}
                <br>
                <a href="{{ url_for('download', id=employee.person.files[1].id) }}">
                  {{ employee.person.files[1].filename }}
                </a>
                {% endif %}

              </td>
            </tr>

            {% if employee.rank == 1 %}
            <tr class="text-dark-3">
              <th scope="row">Type</th>
              <td>User</td>
            </tr>
            <tr class="text-dark-3">
              <th scope="row">Email Address</th>
              <td>{{ employee.person.email }}</td>
            </tr>
            {% endif %}

            {% if employee.rank == 2 %}
            <tr class="text-dark-3">
              <th scope="row">Type</th>
              <td>Employee</td>
            </tr>
            {% endif %}

            {% if employee.salaries[-1] %}
            <tr class="text-dark-3">
              <th scope="row">Last Salary Paid</th>
              <td>{{ employee.salaries[-1].transaction.amount }}Rs</td>
            </tr>

             <tr class="text-dark-3">
              <th scope="row">Total Salaries Paid</th>
              <td>{{ total_salaries_amount }}Rs ({{ total_salaries }})</td>
            </tr>
            {% endif %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}