{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h1 id="title" class="text-orange-1 text-center">
                  Expenditure Information
                </h1>
                <br>
                <h2 id="sub-title" class="text-orange-2 text-center">
                 {{ expenditure.name }}
                </h2>
              </th>
            </tr>
          </thead>
          <tbody>
            
            <tr class="text-dark-3">
              <th scope="row">Expenditure Type</th>
              <td>
                {{ expenditure.name }}
              </td>
            </tr>

            <tr class="text-dark-3">
              <th scope="row">Expense Till Date</th>
              <td>
                {{ transaction['total_amount'] }}Rs ({{ transaction['no_of_transactions'] }})
              </td>
            </tr>

            <tr class="text-dark-3">
              <th scope="row">Headaing 3</th>
              <td>
                Row 3
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% if transaction %}
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="4">
                <h1 class="text-orange-1 text-center">Transaction Summary</h1>
                <p class="text-dark-3 text-center">The details of the transactions are listed here</p>
                <p class="text-orange-3 text-center">
                  Number of Installments: {{ transaction["no_of_transactions"] }}
                </p>
              </th>
            </tr>
          </thead>
          <tr>
            <th>Transaction No.</th>
            <th>Date</th>
            <th>Transaction Amount</th>
            <th>Comments</th>
          </tr>

          {% for transaction in transaction["transactions"]%}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ transaction.date_time }}</td>
            <td>{{ transaction.amount }}</td>
            {% if transaction.comments %}
            <td>{{ transaction.comments }}</td>
            {% else %}
            <td>No Comments</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}