{% extends 'layout.html' %}

{% block content %}

<!-- new -->
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">
                <h1 id="title" class="text-orange-1 text-center">
                  Expenditure Information
                </h1>
                <p id="sub-title" class="text-dark-3 text-center">
                  All the expenditure information is listed here
                </p>
                <br>
                <h2 id="sub-title" class="text-orange-2 text-center">
                  Expenditure# {{ expenditure.id }}
                </h2>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col" colspan="2">
                <h2 id="sub-title" class="text-orange-2 text-center">
                  Expense Type - {{ expenditure.name }}
                </h2>
            </tr>
            {% if not transaction["transactions"] %}
            <tr><td>
            <h5>No transaction record for this expense type</h5>
            </td></tr>
            {% else %}
            <tr>
            <th>Transaction No.</th>
            <th>Date</th>
            <th>Transaction Amount</th>
            <th>Comments</th>
          </tr>

          {% for transaction in transaction["transactions"]%}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ transaction.date_time }}</td>
            <td>{{ transaction.amount }}</td>
            {% if transaction.comments %}
            <td>{{ transaction.comments }}</td>
            {% else %}
            <td>No Comments</td>
            {% endif %}
          </tr>
          {% endfor %}
          <tr>
            <td>
              <h4>Total Expenses - {{ transaction.no_of_transactions }}</h4>
            </td>
          </tr>      
          <tr>      
            <td>
              <h4>
              Total Amount Spent - {{ transaction.total_amount }} RS
              </h4>
            </td>
          </tr>
          {% endif %}
        </tbody>
        </table>
        </div>
    </div>
  </div>
</section>

{% endblock %}